{% extends "base.html" %}
{% block content %}



<div class="col-sm-6 col-sm-offset-3">

<h1>{{ title }} </h1> 

<!--Search form-->

<form method="GET" action="" >
<div class="row">
<div class="col-sm-6">
  <div class="input-group">
    <input class="form-control" type="text" name="q" placeholder="Search post" value="{{ request.GET.q }}">
    <span class="input-group-btn">
      {# <input class="btn btn-default" type="submit" value="Search"> #}
      <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </span>
  </div>
</div>
</div>
</form>

<p></p>

{% for obj in  object_list %}
<div class="row">
  <div class="col-sm-12 ">
    <div class="thumbnail">
    {% if obj.image %}
      <img src="{{ obj.image.url }}" class="img-responsive"/>
    {% endif %}
      <div class="caption post-detail-item">
      <!--пометка Draft/черновик списков статей -->
      {% if obj.draft %}<h3>Draft </h3>{% endif %}{% if obj.publish > today %}<h3>Future Post</h3>{% endif %}
      
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><small> {{ obj.publish }} </small></h3><!--timestamp|timesince 'ago' заменили на publish-->
        
        {% if obj.user.get_full_name %}
        <p>Author: {{ obj.user.get_full_name }}</p>
        {% endif %}<!--добавили полное имя автора в списки статей-->

        <!--4)добавим class='content-markdown'--><!--|truncatechars:120}}
        оставит превью из 120 знаков в списках статей-->
        {{ obj.get_markdown|truncatechars_html:120 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a> </p>
      </div>
    </div>
  </div>
<hr>
</div>
{% endfor %}

<!--деление списка статей на страницы-->
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ equest.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ equest.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock %}






<!--Блог в 2 колонки
<div class="colsm-8 col-sm-offset-2">
<h1>{{ title }} </h1> 
<div class="row">
{% for obj in  object_list %}

  <div class="col-sm-6 ">
    <div class="thumbnail">
      {# <img src="..." alt="..."> #}
      <div class="caption">
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><small>{{ obj.timestamp|timesince }}</small></h3>
        <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a> </p>
      </div>
    </div>
  </div>
-->

<!--После каждого 2го цикла добавляется новый row-->

<!--
{% cycle "" "</div><div class='row'>"%} 
{% endfor %}
</div>
</div> 
-->