{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
   {{ form.media }} <!--3) интерактивное синее окно отобразит набираемую статью сразу. идем в post_list.html добавлять class='content-markdown'-->
{% endblock head_extra %}

{% block content %}
<div class="col-sm-12">
<div class="col-sm-6 ">
    <h1>Preview</h1>
    <div class="content-preview">
        <h3 id="preview-title"></h3>
        <p id="preview-content"></p>
    </div>
</div>

<div class="col-sm-6 ">
   <h1>Form</h1> 
   <!--
   enctype='multipart/form-data' фото загружаются в media_cdn через форму 
   и сразу отражаются в админке
   -->
<form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
 {{form|crispy}}
<input type="submit" class="btn btn-default" value="Create Post">
</form>
</div>
{% endblock %}
</div>